{% extends "base.html" %}

    {% block content %}

        {% block body %}

        <h1>Create Agent</h1>
            <br>
            <body class="body">
            Coming soon!
            </body>

        <h1>Agents</h1>

            <body class="body">
               <div class="container" align="left">
                    <a href="/return-files/" target="blank"><button class='btn btn-default'>Download!</button></a>
               </div>
            </body>

        {% endblock %}

    {% endblock %}