{% extends "base.html" %}

    {% block content %}

        {% block body %}

        <h1>Create Agent</h1>
            <br>
            <body class="body">
            Coming soon!
            </body>

        <h1>Agents</h1>

         {% for files in files %}
           Name: {{ files.filename }} <br>
         {% endfor %}
         <br>

<body class="body">
<form action="" method="post">
               <div class="container" align="left">
                    <a href="/return-files/" target="blank"><button class='btn btn-default'>Download!</button></a>
               </div>
            </form>
            </body>

        {% endblock %}

    {% endblock %}