{% extends "base.html" %}

{% block content %}

{% block navbar %}
{{nav.mynavbar.render()}}
{% endblock %}
  <div>
    Welcome to AgentZero <br>

    <h1>Capture Info</h1>

    {% for result in results %}
    <h2> Result </h2>
      Hostname: {{ result.host }} <br>
      Internal IP: {{ result.sourceIP }}<br>
      User: {{result.user }}<br>
      NTLMv1 Hash: {{ result.ntlmV1Hash }} <br>
      NTLMv2 Hash: {{ result.ntlmV2Hash }}<br>
      Domain: {{ result.domain }}<br>
    <br>
    {% endfor %}
  </div>
{% endblock %}
